* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }
  body{
    display: flex;
    flex-direction: column;  
  }
  /* [ BARRA DE NAVEGACIÓN */
  
  .section-navbar-title-buttons{
    width: 100%;
    
    margin:auto;
    display: flex;
    flex-direction: column;
  
  }
  
  .enlace-contacto{
    margin-top: 31px;
    font-size: 12px;
    padding: 10px 20px;
    padding-bottom: 40px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-bottom: 3px solid #ececec;
    transition: border-color 0.3s;
  }
  
  .enlace-contacto:hover{
    border-bottom: 3px solid rgb(46, 73, 98);
  }
  
  li a {
    font-size: 12px;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding-bottom: 37px;
    border-bottom: 3px solid #ececec;
    transition: border-color 0.3s;
  }
  
  li a:hover{
    border-bottom: 3px solid rgb(46, 73, 98);
  }
  .enlace-arroces,
  .enlace-carnes{
    border-right: 1px solid #ececec;
  }
  
  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(251, 251, 251, 0.5);
  }
  
  .div-navbar {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #logo {
    width: 90px;
    margin-left: -130px
  }
  .enlace-logo img {
    width: 150px;
    /* height: auto; */
  }
   
  /* ] TERMINA EDICION DE ELEMENTOS NAVBAR */
  
  .tittle{
    margin-top: 10%;
    font-size: 5rem;
    padding: 30px;
    background: #e0e0e0d5;
    border-radius: 5px;
    box-shadow: 2px 2px 12px #bebebe, -2px -2px 12px #ffffff;
    overflow:hidden;
    
  }
  
  /* .ricePage{
    display: flex;
    flex-direction:column;
    align-items: center;
    background-image: url(/assets/img/backg_restaurant.jpeg);
    
    background-position: cover;
    background-attachment: fixed;
    background-repeat: repeat;
  } */
  
  .ricePage {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
    background-position: cover;
    background-attachment: fixed;
    background-repeat: repeat;
    z-index: 1; 
  }
  
  .ricePage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/assets/img/Ресторан\ «Loro».jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat;
    filter: blur(1px);
    z-index: -1; /* Para asegurarte de que el pseudo-elemento esté detrás del contenido */
  }
  
  
  .carrousel{
    width: 55%;
    margin-top: 10%;
    margin-bottom: 5%;
    max-width: 120em;
    padding: 2em;
    /*aplicar neo*/
    background: #e0e0e0d5;
    border-radius: 1em;
    box-shadow: 4px 4px 12px #bebebe, -4px -4px 12px #ffffff;
    overflow:hidden;
    
  }
  .carrousel .grande{
    width: 500%;
    overflow:hidden;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    /*aplicar neo*/
    background: #e0e0e0;
    border-radius: 1em;
    box-shadow: 
      inset 8px 8px 16px #e0e0e0d5,
      inset -8px -8px 16px #ffffff;
  transition: all .5s ease;
  transform: translateX(0%)
  
  }
  .carrousel .img{
    width: calc( 500% / 5 -1em);
    /*aplicar neo*/
    background: #e0e0e0;
    border-radius: 1em;
    box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
    max-height: 60vh;
  
  }
  
  .carrousel .puntos{
    width: 100%;
    margin: 1em 0 0 ;
    padding: 0.7em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  .carrousel .punto{
    width: 2em;
    height: 2em;
    margin: 1em 0 0 ;
    /*aplicar neo*/
    background: #e0e0e0;
    border-radius: 1em;
    box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
  }
  .carrousel .punto.activo{
    background-color: orange;
  }
  .carta_arroces{
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 30px;
      border-radius: 5px;
      margin-top: 3vh;
      text-align: center;
      margin-bottom: 10vh;
      background-color: #bebebea8 ;
      box-shadow: 2px 2px 12px #bebebe, -2px -2px 12px grey;
  }
  .ingredientsCard{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ingredientsCard p{
    width: 90%;
    margin-top: 1rem;
  }
  .ingredientsList{
    display: flex;
    flex-direction: column;
  }
  
  button{
      width: 25%;
      margin-top: 2rem;
      margin-bottom: 5rem;
      padding: 10px;
      font-size: 2.5rem;
      font-weight: 500;
      background-color: #CF792D;
      color: white;
      border: none;
      border-radius: 40px;
      cursor: pointer;
      box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
      
      
    }
    .paragraph{
      width: 50%;
      font-size: 2rem;
      
      padding: 30px;
      color:#ffffff;
      border-radius: 5px;
      margin-top: 3vh;
      text-align: center;
      margin-bottom: 2vh;
      background-color: #bebebea8 ;
      box-shadow: 2px 2px 12px #bebebe, -2px -2px 12px grey ;
    }
  
    h3{
      font-size: 3em;
      width: 50%;
      padding: 30px;
      background: #e0e0e0d5;
    border-radius: 5px;
    box-shadow: 2px 2px 12px #bebebe, -2px -2px 12px #ffffff;
    overflow:hidden;
    }
    /*FOOTER*/
  .footerSection{
    background-color: #EDEDED;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer_logo_container{
    align-items:center;
  }
  .enlace-logo_footer{
  width: 90px;
  }
  #logo_footer{
    width: 130px;
    margin-left: -17px;
    
  }
  
  .copiright{
    width: 95%;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    margin: 50px 0px 50px 0px;
  }
  .politicas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .politicas a{
    font-size: 12px;
    width: 90px;
  
  }