.roboto-thin {
  font-weight: 100;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
/* [ BARRA DE NAVEGACIÓN */

.section-navbar-title-buttons{
  width: 100%;
  margin:auto;
  display: flex;
  flex-direction: column;
  min-height: 700px;
  background-image: url(../../assets/img/hero/portadawebelpaladar.webp);
  background-size: cover;
  background-position: center;
  
  
}

.enlace-contacto{
  margin-top: 31px;
  font-size: 12px;
  padding: 10px 20px;
  padding-bottom: 40px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  border-bottom: 3px solid #ececec;
  transition: border-color 0.3s;
}
.enlace-contacto:hover{
  border-bottom: 3px solid rgb(46, 73, 98);
  
}
li a {
  font-size: 12px;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding-bottom: 37px;
  border-bottom: 3px solid #ececec;
  transition: border-color 0.3s;
}

li a:hover{
  border-bottom: 3px solid rgb(46, 73, 98);
}
.enlace-arroces,
.enlace-carnes{
  border-right: 1px solid #ececec;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(251, 251, 251, 0.5);
}

.div-navbar {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 90px;
  margin-left: -130px
  
}
.enlace-logo img {
  width: 150px;
  /* height: auto; */
}

/* ] TERMINA EDICION DE ELEMENTOS NAVBAR */
.header-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  margin-top: 50px;
}

.div-header-titles {
  align-items: center;
  display: flex;
  flex-direction: column;
}
h1{
  
  font-size: 70px;
  line-height: 60px;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-shadow: rgba(0, 0, 0, 0.25) 3px 3px 3px;
}
h2{
  font-size: 45px;
  font-weight: 500;
  line-height: 80px;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-shadow: rgba(0, 0, 0, 0.25) 1px 1px 0px;
}
.div-header-buttons{
  width: 60%;
  height: auto;
  display: flex;
  justify-content: center;
  
  gap: 40px 30px; 

}
.header-button-orange{
  width: 250px;
  padding: 10px;
  font-size: 24px;
  font-weight: 500;
  background-color: #CF792D;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  margin-top: 20px; 
  
}
.header-button-green{
  width: 250px;
  padding: 10px;
  font-size: 24px;
  font-weight: 500;
  background-color: #145A32;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  margin-top: 20px; 
  
}


/* TERMINA LA EDICIÓN DE LOS ELEMENTOS DE LA SECCIÓN HEADER */


.servicios-especiales{
  
  
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 80px;
  margin-top: 40px;
}
.icono{
  max-width: 200px;
}
.collective-div-icons-cards{
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  

}
.individual-div-icon-card{
  background-color: #EDEDED;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 40px;
  width:25%;
  height:25rem;
  padding-top: 2rem;
  box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  

}
.individual-div-icon-card_paragraph{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    text-align: center;
    
}
.paragraph{
  color: green;
}
.boton-arroces, .boton-eventos, .boton-carnes{
  border: none;
  /* width: 65%; */
  padding: 8px 30px;
  background-color: #CD792E;
  color: white;
  /* border: 1px solid #CD792E; */
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.boton-eventos{
  background-color: #145A32;
}
.boton-carnes{
background-color: #A04000;
}
.section2_div-text-container{
  display: flex;
  justify-content: center;
  
  

}
.section2_div-text-container_paragraph{
  width: 85%;
  background-color: #EDEDED;
  padding: 2%;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.div-reviews{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-top: 50px;
}

.excelente{
  font-size: 25px;
  margin-bottom: 10px;
}

.reviews-section{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-bottom: 8rem;
  
}
.div-reviews_stars i{
  
  font-size: 30px;
  margin-bottom:15px;
}

.fa{
  color: #F6BB07;
}

/* SECCION NUESTRA COMIDA */

.ourFoodSection{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EDEDED;
}
.ourFoodBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  padding: 25px 30px;
  border-radius: 30px;

  background-color: #D3D3D3;
  width: 70%;
}
.ourFoodSectionParagraph{
  width: 80%;
  text-align: center;
  line-height: 1.5;
}
.tradicionalFrescos{
  width: 80%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 8rem;
}
.ourFoodCard{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ourFoodCard p{
  margin-top:20px;
  padding: 25px;
  border-radius: 20px;
  color: #ffffff;
  font-weight: 600;
}
.webp{
  width: 200px ;
}
.seccionTogle{
 display: flex;
 
 justify-content:space-around;
 margin-top: 8rem;
 margin-bottom: 8rem;
 flex-wrap: wrap;
}

.seccionTogle .seccionTogleCard:nth-child(1){
  border: 0.16rem solid #CF792D;
}
.seccionTogle .seccionTogleCard:nth-child(2){
  border: 0.16rem solid #1F8449;
}
.seccionTogle .seccionTogleCard:nth-child(3){
  border: 0.16rem solid #A04000;
}

.seccionTogleCard{
  display: flex;
  justify-content:center ;
  flex-direction: column;
  width: 30%;
  padding: 0.5%;
  align-items:center;
  border-radius: 20px;
  box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

.seccionTogleCard_title{
  font-size: 1.8rem;
  
  margin-bottom: 1rem;
  
}
#card1_tittle{
  border-bottom: 0.16rem dotted #CF792D;
  margin-top:-20px;
}
#card2_tittle{
  border-bottom: 0.16rem dotted #1F8449;
  margin-top:-38px;
  
/*DEBO ALINEAR EL CONTENIDO DE LAS 3 CARDS*/
}
#card3_tittle{
  border-bottom: 0.16rem dotted #A04000;
}


.seccionTogleCard_description{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 70%;
  margin-top: 1rem;
}
/*FOOTER*/
.footerSection{
  background-color: #EDEDED;
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_logo_container{
  align-items:center;
}
.enlace-logo_footer{
width: 90px;
}
#logo_footer{
  width: 130px;
  margin-left: -17px;
  
}

.copiright{
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: 50px 0px 50px 0px;
}


/*APARTIR DE AQUÍ EDITO PARA PROYECTO EN PORTFOLIO GITHUB*/

/*STILOS PARA EL FOCO VISIBLE DE SKIP-LINK*/
.skip-link {
  position: absolute;
  left: -9999px;
  top: 0;
  padding: 0.5rem 0.75rem;
  z-index: 9999;
}

.skip-link:focus {
  left: 0.75rem;
  top: 0.75rem;
}

/*STILOS PARA EL FOCO VISIBLE DE a-button-input-select-textarea*/
:focus{
  outline: none;
}
:focus-visible{
  outline: 3px solid currentColor;
  outline-offset: 3px;
}
a:focus-visible,
button:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline: 2px solid grey;
  outline-offset: 3px;
}
